.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.links__container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.logo {
    width: 146px;
    height: 48px;
    background: var(--purple);
    margin: 34px auto;
    border-radius: 10px;
}